/* Specifications */
@import "./variables";
html {
  scroll-behavior: smooth;
  font-family: $gotham;
}
a {
  text-decoration: none !important;
  color: inherit;
  &:hover {
    color: inherit;
  }
}
.title {
  font-family: $plumb;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 112.7%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.wrap {
  display: flex;
}
/* Specifications end */
@import "./components/header";
@import "./components/offer";
@import "./components/weeks";
@import "./components/product";
@import "./components/article";
@import "./components/filters";
@import "./components/info";
@import "./components/reviews";
@import "./components/subs";
@import "./components/footer";
@import "./components/socials";
// catalog 
@import "./components/catalog";
// catalog end
// how article 
@import "./components/how-article";
// how article end
// articles 
@import "./components/articles";
// articles 
// basket 
@import "./components/basket";
// basket 
// favorites
@import "./components/favorites";
// favorites
// reg 
@import "./components/reg";
// reg end 
// product 
@import './components/product-single';
// product 
// other 
@import "./components/custom-select";
@import "./components/modal-auth";
@import "./components/modal-request";
// other 
