@import "../variables";
.offer {
  padding-top: 128px;
  padding-bottom: 152px;
  margin-top: 140px;
  position: relative;
  &__video {
    width: 100%;
    height: 650px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  &__title {
    font-family: $plumb;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 112.7%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #fff;
    span {
      display: block;
    }
  }
  &__subtitle {
    font-family: $gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 112.7%;
    letter-spacing: -0.04em;
    color: #fff;
    margin-bottom: 110px;
  }
  &__filters {
    display: flex;
    align-items: center;
    &-item {
      margin-right: 45px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $gotham;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 112.7%;
      letter-spacing: -0.04em;
      color: #fff;
      border: 1px solid #ffffff;
      border-radius: 40px;
      padding: 20px 35px 20px 30px;
      transition: all 0.5s ease;
      &:hover {
        color: #000;
        background: #fff;
        border: 1px solid #fff;
        box-shadow: 0 0 33px (0deg 0% 100% / 69%);
        color: #000;
      }
    }
    &-img {
      width: 46px;
      height: 46px;
      margin-right: 24px;
    }
  }
}
